html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h1, h3 {
    font-family: 'Bebas Neue', cursive;
}

body {
   background-color: moccasin;
}


header {
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: column;
}

h1 {
    font-size: 150px;
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}


a {
    text-decoration: none;
    font-weight: 500;  
}

.img-container {
    overflow: hidden;
}


#window {
    margin: 0 auto;
    background-color: white;
    width: 75%;
    max-width: 1500px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;

}

@media screen and (max-width: 650px){

    header {
        display: block;
        height: auto;
        margin: 25px 0;
    }

    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 24px;
    }

    #window {
        width: 90%;
    }
}

@media screen and (max-width: 380px){

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 20px;
    }
}


#tab-bar {
    display: flex;
    background-color: black;
    height: 50px;
    user-select: none;
    z-index: 2;
}

.tab {
    background-color: hsl(200, 50%, 20%);
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.4s ease-in;
    cursor: pointer;
}

.tab:hover {
    background-color:hsl(200, 50%, 25%);
}

.tab h3 {
    margin-left: 1rem;
    color: white;
    pointer-events: none; /*For some reason, needed or else event listeners for tabs will also affect it;*/
}

.tab i {
    margin-right: 0.5rem;
}

.tab .fa-face-smile {
    color: hsl(50, 100%, 70%);
}

.tab .fa-file-lines {
    color: turquoise;
}

.tab .fa-bars-progress {
    color: lightcoral;
}

.tab .fa-link {
    color: lightgray;
}

@media screen and (max-width: 900px){
    #tab-bar {
        box-sizing: border-box;
        display: grid;
        grid-template: repeat(2, 60px) / 1fr 1fr;
        height: auto;
        width: 100%;
        column-gap: 5px;
        row-gap: 5px;
        padding: 5px;
        position: absolute;
        top: -140px;
        transition: top 0.5s;
    }

    .tab {
        width: 100%;
        border-radius: 15px;
    }
}


#navigation-bar {
    display: flex;
    background-color: slategray;
    height: 50px;
    align-items: center;
    column-gap: 20px;
    padding: 0 20px;
    z-index: 2;
}


#nav-buttons {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#nav-buttons .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.button-container:hover i {
    transform: scale(1.25);
}

#address-bar {
    background-color: lightgray;
    height: 80%;
    flex: 1 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Initially only display the "address" for the about section */
#address-about {
    display: block;
}

#address-skills {
    display: none;
}

#address-projects {
    display: none;
}

#address-contact {
    display: none;
}


#navigation-bar .img-container {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightcoral;
    border: 2px solid hsl(50, 100%, 70%);
}

#navigation-bar .img-container img {
    width: 100%;
}

#tabs-button {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: rgba(0,0,0,0%);
    color: white;
    border: 3px solid white;
    border-radius: 6px;
}

#navigation-bar button:hover {
    transform: scale(1.1);
}

#pull-up {
    display: none;
    color: white;
    cursor: pointer;
}

#pull-up:hover {
    transform: scale(1.25);
}

@media screen and (max-width: 900px){
    #navigation-bar {
        position: relative;
        top: 0;
        transition: top 0.5s;
    }

    #tabs-button {
        display: inline-block;
    }

    #navigation-bar .img-container {
        display: none;
    }
}

@media screen and (max-width: 650px){
    #nav-buttons {
        display: none;
    }
}

#content {
    height: 80vh;
    overflow: scroll;
}

.page {
    display: none;
    position: relative;
    top: 0;
    transition: top 0.5s;
}

@keyframes reappear1 {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes reappear2 {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

#about-page {
    display: block;
    height: 100%;
}

#about-page .content-container {
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

#about-page .img-container {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: lightcoral;
}

#about-page img {
    width: 100%;
}

#about-page h4 {
    font-size: 4rem;
    margin: 0;
}

#about-page p {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#skills-page {
    display: none; /*default: block*/
}

#resume-container {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

#skills-page a {
    position: relative;
    background-color: darkturquoise;
    color: white;
    padding: 1.25rem 1.75rem;
    border-radius: 2rem;

}

#skills-page a:hover {
    box-shadow: 0.3rem 0.3rem 0px slategray;
    right: 0.3rem;
    bottom: 0.3rem;
}

#skills {
    display: flex; 
    flex-wrap: wrap;
    width: 85%;
    max-width: 60rem;
    padding: 2rem 0;
    margin: 0 auto;
    justify-content: space-evenly;
    row-gap: 3rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}

.skill label {
    text-align: center;
    margin-top: 1.5rem;
}

@media screen and (max-width: 800px){
    #resume-container {
        padding: 2rem 0;
    }
}

#projects-page {
    display: none; /*default : block */
}

.project {
    display: flex;
    column-gap: 2rem;
    margin: 5rem;
    align-items: center;
}

.project .img-container {
    height: 200px;
    width: 300px;
    flex-shrink: 0;
    border: 3px solid slategray;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.project .img-container img {
    width: 100%;
    object-fit: contain;
}

.project .project-info {
   max-width: 50rem;
}

.project-info .project-buttons {
    display: flex;
    margin-top: 2rem;
    column-gap: 1rem;
}

.live-button, .code-button {
    width: 42px;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    position: relative;
    color: darkslategray;
}

.live-button {
    border: 3px solid lightsalmon;
}

.code-button {
    border: 3px solid darkturquoise;
}

.live-button:hover, .code-button:hover {
    box-shadow: 0.3rem 0.3rem 0px slategray;
    right: 0.3rem;
    bottom: 0.3rem;
}

@media screen and (max-width: 1024px){
    .project {
        flex-direction: column;
    }

    .project h4, .project p {
        text-align: center;
    }

    .project-info .project-buttons {
        justify-content: center;
    }
}

@media screen and (max-width: 425px){

    .project {
        margin: 4rem 0;
        padding: 0 1rem;
    }

    .project .img-container {
        height: 150px;
        width: 225px;
    }
}

#contact-page {
    display: none; 
    height: 100%;
}



#contact-page .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    margin: auto;
    width: 20rem;
}

#contact-page .content label {
    display: inline-block;
    width: 5rem;
    text-align: right;
}

#contact-page a {
    margin-left: 1rem;
    user-select: all;
}

#github-link {
    text-decoration: underline;
}

@media screen and (max-width: 425px){
    #contact-page .content {
        width: auto;
    }
    #contact-page .info {
        display: flex;
        flex-direction: column;
    }
    #contact-page .content label {
        width: auto;
        text-align: center;
    }
    #contact-page a {
        margin: 0;
        text-align: center;
    }

}

footer p {
    text-align: center;
}






