html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h1, h3 {
    font-family: 'Bebas Neue', cursive;
}

body {
    margin: 0;
}

header, main {
    background-color: moccasin;
}

header {
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: column;
}

h1 {
    font-size: 150px;
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

.img-container {
    overflow: hidden;
    background-color: lightcoral;
}

main {
    padding: 60px 0;
}


#window {
    margin: 0 auto;
    background-color: white;
    width: 75%;
    max-width: 1500px;
    border-radius: 15px;
    overflow: hidden;

}


#tab-bar {
    display: flex;
    background-color: black;
    height: 50px;
}

.tab {
    background-color: darkslategray;
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
}

.tab h3 {
    margin-left: 1rem;
}

.tab i {
    margin-right: 0.5rem;
}


#about-me-tab {
    background-color: slategray;
}


#navigation-bar {
    display: flex;
    background-color: slategray;
    height: 50px;
    align-items: center;
    column-gap: 20px;
    padding: 0 20px;
}

#nav-buttons {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
}

#address-bar {
    background-color: lightgray;
    height: 80%;
    flex: 1 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Initially only display the "address" for the about section */
#address-skills {
    display: none;
}

#address-projects {
    display: none;
}

#address-contact {
    display: none;
}


#navigation-bar .img-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

#navigation-bar .img-container img {
    width: 100%;
}

#content {
    height: 80vh;
    overflow: scroll;
}

#about-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#about-page .img-container {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: lightcoral;
}

#about-page .img-container img {
    width: 100%;
}

#about-page h4 {
    font-size: 4rem;
    margin: 0;
}

#about-page p {
    width: 80%;
    max-width: 600px;
    text-align: center;
}




