html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h1, h3 {
    font-family: 'Bebas Neue', cursive;
}

body {
    margin: 0;
}

header, main {
    background-color: moccasin;
}

header {
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: column;
}

h1 {
    font-size: 150px;
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 500;  
}

.img-container {
    overflow: hidden;
}

main {
    padding: 60px 0;
}


#window {
    margin: 0 auto;
    background-color: white;
    width: 75%;
    max-width: 1500px;
    border-radius: 15px;
    overflow: hidden;

}


#tab-bar {
    display: flex;
    background-color: black;
    height: 50px;
    user-select: none;
}

.tab {
    background-color: hsl(200, 50%, 20%);
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.tab:hover {
    background-color:hsl(200, 50%, 25%);
}

.tab h3 {
    margin-left: 1rem;
    color: white;
}

.tab i {
    margin-right: 0.5rem;
}

.tab .fa-face-smile {
    color: hsl(50, 100%, 70%);
}

.tab .fa-file-lines {
    color: turquoise;
}

.tab .fa-bars-progress {
    color: lightcoral;
}

.tab .fa-link {
    color: lightgray;
}


#about-me-tab {
    background-color: slategray;
}


#navigation-bar {
    display: flex;
    background-color: slategray;
    height: 50px;
    align-items: center;
    column-gap: 20px;
    padding: 0 20px;
}

#nav-buttons {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#address-bar {
    background-color: lightgray;
    height: 80%;
    flex: 1 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Initially only display the "address" for the about section */
#address-skills {
    display: none;
}

#address-projects {
    display: none;
}

#address-contact {
    display: none;
}


#navigation-bar .img-container {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightcoral;
    border: 2px solid hsl(50, 100%, 70%);
}

#navigation-bar .img-container img {
    width: 100%;
}

#content {
    height: 80vh;
    overflow: scroll;
}

.page {
    display: none;
}

#about-page {
    height: 100%;
    display: none; /*default = flex*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#about-page .img-container {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: lightcoral;
}

#about-page .img-container img {
    width: 100%;
}

#about-page h4 {
    font-size: 4rem;
    margin: 0;
}

#about-page p {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#skills-page {
    display: none; /*default: block*/
}

#resume-container {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

#skills-page a {
    position: relative;
    background-color: darkturquoise;
    color: white;
    padding: 1.25rem 1.75rem;
    border-radius: 2rem;

}

#skills-page a:hover {
    box-shadow: 0.3rem 0.3rem 0px slategray;
    right: 0.3rem;
    bottom: 0.3rem;
}

#skills {
    display: flex; 
    flex-wrap: wrap;
    width: 85%;
    max-width: 60rem;
    padding: 3rem 0;
    margin: 0 auto;
    justify-content: space-between;
    row-gap: 3rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}

.skill label {
    text-align: center;
    margin-top: 1.5rem;
}


#projects-page {
    display: none; /*default : block */
}

.project {
    display: flex;
    column-gap: 2rem;
    margin: 5rem;
    align-items: center;
}

.project .img-container {
    height: 200px;
    width: 300px;
    flex-shrink: 0;
    border: 3px solid slategray;
    border-radius: 1rem;
}

.project .img-container img {
    width: 100%;
}

.project .project-info {
   max-width: 50rem;
}

.project-info .project-buttons {
    display: flex;
    column-gap: 2rem;
    margin-top: 2rem;
}

.live-button, .code-button {
    width: 42px;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    position: relative;
    color: darkslategray;
}

.live-button {
    border: 3px solid lightsalmon;
}

.code-button {
    border: 3px solid darkturquoise;
}

.live-button:hover, .code-button:hover {
    box-shadow: 0.3rem 0.3rem 0px slategray;
    right: 0.3rem;
    bottom: 0.3rem;
}

#contact-page {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

#contact-page .content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#contact-page .content label {
    display: inline-block;
    width: 5rem;
    text-align: right;
}

#contact-page a {
    margin-left: 1rem;
    user-select: all;
}

#github-link {
    text-decoration: underline;
}

footer p {
    text-align: center;
}






